.footer {
    background-color: #f8f9fa;
    padding: 60px 0;
  }
  
  .footer-info h3 {
    color: #333;
  }
  
  .footer-info p {
    color: #666;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    
  }
  
  .footer-links ul li {
    margin-bottom: 10px;
  }
  
  .footer-links ul li a {
    color: #666;
    text-decoration: none;
  }
  
  .footer-links ul li a:hover {
    color: #7DA0CA;
  }
  
  .footer-contact p {
    color: #666;
  }
  
  .social-links a {
    display: inline-block;
    margin-right: 10px;
    color: #666;
  }
  
  .social-links a:hover {
    color: #000;
  }
  
  .text-center {
    text-align: center;
    color: #666;
  }
  
  .container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  @media (max-width: 768px) {
    .footer-info, .footer-links, .footer-contact {
      margin-bottom: 30px;
    }
  }
  