/* DisplayDetails.css */

.display-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.Inventory-timetable {
  width: 100%;
  overflow-x: auto;
}

.Inventory-timetable{
  width: 100%;
  border-collapse: collapse;
}

.Inventory-tr, .Inventory-td {
  border: 1px solid #ddd;
  padding: 8px;
}

.Inventory-th {
  background-color: #f2f2f2;
}

.Inventory-tr:nth-child(even) {
  background-color: #f2f2f2;
}

.Inventory-tr:hover {
  background-color: #ddd;
}

.display-details-input[type="text"] {
  padding: 8px;
  margin-bottom: 10px;
}

.display-details-Btn {
  padding: 4px 10px;;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #052659; /* Updated background color */
  color: #fff;
}

.display-details-Btn:hover {
  background-color: #2a7bf5; /* Updated background color */
}

.display-details-a{
  display: inline-block;
  padding: 4px 10px;
  margin: 0 5px;
  text-decoration: none;
  color: white;
  border: 1px solid #052659;
  border-radius: 4px;
  background-color: #052659;
}

.display-details-a:hover {
  background-color: #2a7bf5;
  color: #fff;
}
