.table {
  width: 90%;
  border-collapse: collapse;
}

.table-container {
  display: flex;
  justify-content: center;
}

.table th,
.table td {
  padding: 8px; /* Adjust padding as needed */
  border: 1px solid black; /* Add borders for better visualization */
  text-align: left; /* Align text to the left */
  width: calc(90% / 8); /* Fixed width for each column */
}

.table th {
  background-color: #f2f2f2; /* Add background color for header */
}

.table td {
  background-color: #c1e8ff; /* Add background color for data */
}

.tdelete,
.tupdate {
  display: inline-block;
  text-decoration: none;
  cursor: pointer; /* Add pointer cursor to indicate interactivity */
  margin-right: 5px; /* Add margin between buttons if needed */
  background-color: #052659;
  color: white;
  margin: 0 5px;
  padding: 4px 10px;
  border: 1px solid #052659;
  border-radius: 4px;
}

.tupdate:hover {
  background-color: #5483b3;
  color: black;
}

.tdelete:hover {
  background-color: red;
  color: black;
}

